Clients/BL Motorcycles ltd/BL-Motorcycles-Enterprise/n8n-workflows/workflow_weekly_summary.json
{
  "name": "BL: Monday Weekly Ops Summary",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * 1" }] } },
      "name": "Monday 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [240, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://ddjuoeyaoxllockcusgf.supabase.co/rest/v1/orders",
        "qs": { "select": "*", "created_at": "=gte.{{new Date(Date.now()-7*86400000).toISOString()}}", "order": "created_at.desc" },
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "={{$env.BL_SUPABASE_SERVICE_KEY}}" },
          { "name": "Authorization", "value": "Bearer {{$env.BL_SUPABASE_SERVICE_KEY}}" }
        ]}
      },
      "name": "Get Week Orders",
      "type": "n8n-nodes-base.httpRequest",
      "position": [460, 300],
      "typeVersion": 3
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://ddjuoeyaoxllockcusgf.supabase.co/rest/v1/products",
        "qs": { "select": "sku,title,stock_level,supplier_id", "stock_level": "lte.5", "order": "stock_level.asc", "limit": "20" },
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "={{$env.BL_SUPABASE_SERVICE_KEY}}" },
          { "name": "Authorization", "value": "Bearer {{$env.BL_SUPABASE_SERVICE_KEY}}" }
        ]}
      },
      "name": "Get Low Stock",
      "type": "n8n-nodes-base.httpRequest",
      "position": [460, 500],
      "typeVersion": 3
    },
    {
      "parameters": { "mode": "passThrough" },
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "position": [680, 400],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const orders = $input.first().json;\nconst lowStock = $input.last().json;\n\nconst revenue = orders.reduce((s,o) => s + (o.sale_price||0), 0);\nconst profit = orders.reduce((s,o) => s + ((o.sale_price||0)-(o.trade_price||0)), 0);\nconst pending = orders.filter(o => o.status==='pending'||o.status==='ordering').length;\nconst dispatched = orders.filter(o => o.status==='dispatched'||o.status==='delivered').length;\nconst failed = orders.filter(o => o.status==='failed'||o.status==='rejected').length;\nconst ebay = orders.filter(o => (o.channel||'').toUpperCase()==='EBAY').length;\n\nreturn [{\n  json: {\n    totalOrders: orders.length,\n    revenue: revenue.toFixed(2),\n    profit: profit.toFixed(2),\n    pending, dispatched, failed, ebay,\n    lowStockCount: Array.isArray(lowStock) ? lowStock.length : 0,\n    topSku: orders.reduce((acc,o) => { if(o.sku){acc[o.sku]=(acc[o.sku]||0)+1} return acc; }, {})\n  }\n}];"
      },
      "name": "Compute Stats",
      "type": "n8n-nodes-base.code",
      "position": [900, 400],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Bearer {{$env.RESEND_API_KEY}}" }] },
        "body": {
          "from": "BL Ops Report <reports@jonnyai.co.uk>",
          "to": ["brett@blmotorcycles.co.uk"],
          "subject": "={{`📊 BL Motorcycles Weekly Summary — £${$json.revenue} Revenue, ${$json.totalOrders} Orders`}}",
          "html": "={{`<div style='font-family:Arial;max-width:600px;margin:auto;background:#0a0a0c;padding:40px;'><h2 style='color:#f97316;margin-bottom:5px;'>📊 Weekly Operations Summary</h2><p style='color:#666;font-size:12px;margin-top:0;'>${new Date().toLocaleDateString('en-GB')} — BL Motorcycles Ltd</p><hr style='border-color:#222;'/><div style='display:flex;gap:20px;margin:20px 0;'><div style='flex:1;background:#111;padding:20px;border-radius:12px;text-align:center;'><div style='color:#22c55e;font-size:28px;font-weight:900;'>£${$json.revenue}</div><div style='color:#666;font-size:11px;text-transform:uppercase;'>Revenue</div></div><div style='flex:1;background:#111;padding:20px;border-radius:12px;text-align:center;'><div style='color:#22c55e;font-size:28px;font-weight:900;'>£${$json.profit}</div><div style='color:#666;font-size:11px;text-transform:uppercase;'>Profit</div></div></div><table style='width:100%;border-collapse:collapse;margin:20px 0;'><tr><td style='padding:10px;color:#ddd;border-bottom:1px solid #222;'>Total Orders</td><td style='padding:10px;color:#fff;font-weight:700;border-bottom:1px solid #222;text-align:right;'>${$json.totalOrders}</td></tr><tr><td style='padding:10px;color:#ddd;border-bottom:1px solid #222;'>eBay Orders</td><td style='padding:10px;color:#eab308;font-weight:700;border-bottom:1px solid #222;text-align:right;'>${$json.ebay}</td></tr><tr><td style='padding:10px;color:#ddd;border-bottom:1px solid #222;'>Dispatched</td><td style='padding:10px;color:#22c55e;font-weight:700;border-bottom:1px solid #222;text-align:right;'>${$json.dispatched}</td></tr><tr><td style='padding:10px;color:#ddd;border-bottom:1px solid #222;'>Still Pending</td><td style='padding:10px;color:#3b82f6;font-weight:700;border-bottom:1px solid #222;text-align:right;'>${$json.pending}</td></tr><tr><td style='padding:10px;color:#ddd;border-bottom:1px solid #222;'>Failed</td><td style='padding:10px;color:#ef4444;font-weight:700;border-bottom:1px solid #222;text-align:right;'>${$json.failed}</td></tr><tr><td style='padding:10px;color:#ddd;border-bottom:1px solid #222;'>Low Stock Items</td><td style='padding:10px;color:#f97316;font-weight:700;border-bottom:1px solid #222;text-align:right;'>${$json.lowStockCount}</td></tr></table><p style='color:#888;font-size:12px;text-align:center;margin-top:30px;'><a href=\"https://blmotorcyclesltd.co.uk/admin\" style=\"color:#f97316;font-weight:700;\">Open Admin Dashboard →</a></p><p style='color:#444;font-size:10px;text-align:center;'>Automated by Antigravity AI | Jai.OS 5.0</p></div>`}}"
        }
      },
      "name": "Send Weekly Summary",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1120, 400],
      "typeVersion": 3
    }
  ],
  "connections": {
    "Monday 08:00": { "main": [[{ "node": "Get Week Orders", "type": "main", "index": 0 }, { "node": "Get Low Stock", "type": "main", "index": 0 }]] },
    "Get Week Orders": { "main": [[{ "node": "Merge Data", "type": "main", "index": 0 }]] },
    "Get Low Stock": { "main": [[{ "node": "Merge Data", "type": "main", "index": 1 }]] },
    "Merge Data": { "main": [[{ "node": "Compute Stats", "type": "main", "index": 0 }]] },
    "Compute Stats": { "main": [[{ "node": "Send Weekly Summary", "type": "main", "index": 0 }]] }
  }
}
