Clients/BL Motorcycles ltd/BL-Motorcycles-Enterprise/n8n-workflows/workflow_supplier_notification.json
{
  "name": "BL: New Order \u2192 Supplier Notification",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "id": "c1000000-0000-0000-0000-000000000001",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://ddjuoeyaoxllockcusgf.supabase.co/rest/v1/orders",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "id,channel_order_id,ebay_order_id,buyer_name,buyer_email,sku,qty,sale_price,trade_price,shipping_address,created_at,supplier_order_id,bikeit_order_ref,status" },
            { "name": "supplier_order_id", "value": "is.null" },
            { "name": "bikeit_order_ref", "value": "is.null" },
            { "name": "status", "value": "neq.cancelled" },
            { "name": "created_at", "value": "gte.{{new Date(Date.now() - 15 * 60 * 1000).toISOString()}}" },
            { "name": "order", "value": "created_at.asc" }
          ]
        },
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.BL_SUPABASE_SERVICE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.BL_SUPABASE_SERVICE_KEY}}" }
          ]
        }
      },
      "id": "c1000000-0000-0000-0000-000000000002",
      "name": "Get New Unordered Orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.length}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "c1000000-0000-0000-0000-000000000003",
      "name": "Any New Orders?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.RESEND_API_KEY}}" }
          ]
        },
        "body": {
          "from": "BL Ops <reports@jonnyai.co.uk>",
          "to": ["blmotorcyclesltd@gmail.com"],
          "subject": "={{`\ud83d\udce6 ${$json.length} New Order${$json.length > 1 ? 's' : ''} \u2014 Place with Supplier`}}",
          "html": "={{`<div style='font-family:Arial;max-width:700px;margin:auto;background:#0a0a0c;padding:40px;border-radius:8px;'><h2 style='color:#f97316;margin-top:0;'>\ud83d\udce6 New Order${$json.length > 1 ? 's' : ''} \u2014 Action Required</h2><p style='color:#ddd;'>You have ${$json.length} new order${$json.length > 1 ? 's' : ''} that need${$json.length === 1 ? 's' : ''} to be placed with Bike It.</p><table style='width:100%;border-collapse:collapse;margin:20px 0;'><thead><tr style='border-bottom:2px solid #222;'><th style='text-align:left;padding:10px 8px;color:#888;font-size:12px;text-transform:uppercase;'>Order ID</th><th style='text-align:left;padding:10px 8px;color:#888;font-size:12px;text-transform:uppercase;'>Buyer</th><th style='text-align:left;padding:10px 8px;color:#888;font-size:12px;text-transform:uppercase;'>SKU</th><th style='text-align:right;padding:10px 8px;color:#888;font-size:12px;text-transform:uppercase;'>Qty</th><th style='text-align:right;padding:10px 8px;color:#888;font-size:12px;text-transform:uppercase;'>Sale</th><th style='text-align:right;padding:10px 8px;color:#888;font-size:12px;text-transform:uppercase;'>Cost</th></tr></thead><tbody>${$json.map(o => '<tr style=\"border-bottom:1px solid #111;\"><td style=\"padding:10px 8px;color:#f97316;font-size:13px;\">' + (o.ebay_order_id || o.channel_order_id || o.id).toString().slice(-10) + '</td><td style=\"padding:10px 8px;color:#ddd;font-size:13px;\">' + (o.buyer_name || '-') + '</td><td style=\"padding:10px 8px;color:#ddd;font-size:13px;font-family:monospace;\">' + (o.sku || '-') + '</td><td style=\"padding:10px 8px;color:#ddd;font-size:13px;text-align:right;\">' + (o.qty || 1) + '</td><td style=\"padding:10px 8px;color:#22c55e;font-size:13px;text-align:right;\">\u00a3' + parseFloat(o.sale_price || 0).toFixed(2) + '</td><td style=\"padding:10px 8px;color:#888;font-size:13px;text-align:right;\">\u00a3' + parseFloat(o.trade_price || 0).toFixed(2) + '</td></tr>').join('')}</tbody></table><p style='color:#888;font-size:12px;margin-top:20px;'>Log in to <a href=\"https://bikeit.co.uk\" style=\"color:#f97316;\">Bike It trade portal</a> to place orders. Once ordered, update the Supabase <code>bikeit_order_ref</code> column to prevent re-notification.</p></div>`}}"
        }
      },
      "id": "c1000000-0000-0000-0000-000000000004",
      "name": "Email Brett: Order from Supplier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [900, 200]
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [[{ "node": "Get New Unordered Orders", "type": "main", "index": 0 }]]
    },
    "Get New Unordered Orders": {
      "main": [[{ "node": "Any New Orders?", "type": "main", "index": 0 }]]
    },
    "Any New Orders?": {
      "main": [
        [{ "node": "Email Brett: Order from Supplier", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
